
<h1>Post Comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>post id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_comments.each do |post_comment| %>
      <tr>
        <td><%= post_comment.comment %></td>
        <td><%= post_comment.posts_id %></td>
        <td><%= link_to 'Show', post_comment %></td>
        <td><%= link_to 'Edit', edit_post_comment_path(post_comment) %></td>
        <td><%= link_to 'Destroy', post_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= content_tag :table, role: :datatable, data: { url: post_comments_path(format: :json)} do %>
  <thead>
    <tr>
        <th>Subscriber ID</th>
        <th>Install Location</th>
        <th>Subscriber Name</th>
        <th>some data</th>
    </tr>
  </thead>
  <tbody></tbody>
<% end %>
