<div class="sidebar-container ioMZMF ">
  <div class="sidebar collapse">
    <div class="sidebar-content navbar-light">
      <nav class="navbar navbar-vertical atl-navbar">
        <div class="sc-cpmLhU krwbFu"><div class="sc-kasBVs hGzWqW">Duugi account</div></div>
        <!-- Collapse -->
        <div class="">
          <!-- Navigation -->
          <ul class="atl-navbar-nav">
            <li>
              <a class="atl-nav-link <%= controller.controller_name == "settings" ? "active" : "" %>" href="/backend/settings">
                <i class="fe fe-settings"></i> Company detail
              </a>
            </li>
            <li class="">
              <a class="atl-nav-link <%= controller.controller_name == "users" ? "active" : "" %>" href="/backend/users">
                <i class="fe fe-users"></i> Users
              </a>
            </li>
            <li>
              <a class="atl-nav-link <%= controller.controller_name == "departments" ? "active" : "" %>" href="/hrms/departments">
                <i class="fe fe-briefcase"></i> Departments
              </a>
            </li>
            <li>
              <a class="atl-nav-link <%= controller.controller_name == "locations" ? "active" : "" %>" href="/backend/locations">
                <i class="fe fe-map-pin"></i> Locations
              </a>
            </li>
            <li>
              <a class="atl-nav-link <%= controller.controller_name == "groups" ? "active" : "" %>" href="/backend/groups">
                <i class="fe fe-folder"></i> Groups
              </a>
            </li>
            <li class="">
              <a class="atl-nav-link <%= controller.controller_name == "roles" ? "active" : "" %>" href="/roles">
                <i class="fe fe-compass"></i> Roles
              </a>
            </li>
            <li>
              <a class="atl-nav-link <%= controller.controller_name == "permissions" ? "active" : "" %>" href="/permissions">
                <i class="fe fe-disc"></i> Permissions
              </a>
            </li>
            <li>
              <a class="atl-nav-link" href="#!">
                <i class="fe fe-database"></i> Data Administrations
              </a>
            </li>
            <li class="">
              <a class="atl-nav-link <%= controller.controller_name == "post_comments" ? "active" : "" %>" href="/post_comments">
                <i class="fe fe-clipboard"></i> Post Comments
              </a>
            </li>
            <li class="">
              <a class="atl-nav-link <%= controller.controller_name == "console" ? "active" : "" %>" href="/backend/console">
                <i class="fe fe-clipboard"></i> Console
              </a>
            </li>
          </ul>
        </div> <!-- / .navbar-collapse -->
      </nav>
    </div>
  </div>
</div>
