<div class="dropup">
    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <% if user_signed_in? %>
    
    <% else %>
    	<%= image_tag "avatar-thumb.jpg", :class => "avatar" %>
    <% end %>
    </a>
    <div class="dropdown-menu">
    	<% if user_signed_in? %>
          <a href="/admin/settings" class="dropdown-item">Settings</a>
		  <%= link_to t('view_profile'), current_user, :class => 'dropdown-item' %>
		  <%= link_to t('edit_profile'), edit_user_registration_path, :class => 'dropdown-item' %>
		  <%= link_to t('logout'), destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
		<% else %>
		  <%= link_to "Sign up", new_user_registration_path, :class => 'dropdown-item'  %>
		  <%= link_to "Login", new_user_session_path, :class => 'dropdown-item'  %>
		<% end %>
    </div>
</div>
