<!DOCTYPE html>
<html>
  <head>
    <title>Master</title>
    <%= render "layouts/partials/header" %>

  </head>

  <body style="display: block;" class="<%= @body_class %>">

    <!-- MODALS
    ================================================== -->
    <!-- Search Modal -->
    <%= render "layouts/partials/modalSearch" %>



    <nav class="navbar navbar-vertical navbar-vertical-sm fixed-left navbar-expand-md navbar-blue" id="sidebarSmall">
        <div class="container-fluid">

          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarSmallCollapse" aria-controls="sidebarSmallCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Brand -->
          <a class="navbar-brand" href="/">
            <%= image_tag "logo.svg", :class => "" %>
          </a>

          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="sidebarSmallCollapse">
            <!-- Divider -->
            <hr class="navbar-divider d-none d-md-block mt-0 mb-3">

            <!-- Navigation -->
            <ul class="navbar-nav">
              <li class="nav-item dropright">
                <a class="nav-link dropdown-toggle" id="sidebarSmallDashboards" href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Dashboards">
                  <i class="fe fe-home"></i> <span class="d-md-none">Dashboards</span>
                </a>
              </li>
              <li class="nav-item dropright">
                <a class="nav-link dropdown-toggle " id="sidebarSmallPages" href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fe fe-file"></i> <span class="d-md-none">Pages</span>
                </a>
              </li>
            </ul>

            <!-- Divider -->
            <hr class="navbar-divider my-3">

            <!-- Navigation -->
            <ul class="navbar-nav mb-md-4">
              <li class="nav-item" data-toggle="tooltip" data-placement="right" data-template="<div class=&quot;tooltip d-none d-md-block&quot; role=&quot;tooltip&quot;><div class=&quot;arrow&quot;></div><div class=&quot;tooltip-inner&quot;></div></div>" title="" data-original-title="Getting started">
                <a class="nav-link " href="javascript:;">
                  <i class="fe fe-clipboard"></i> <span class="d-md-none">Getting started</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="javascript:;" data-toggle="tooltip" data-placement="right" data-template="<div class=&quot;tooltip d-none d-md-block&quot; role=&quot;tooltip&quot;><div class=&quot;arrow&quot;></div><div class=&quot;tooltip-inner&quot;></div></div>" title="" data-original-title="Components">
                  <i class="fe fe-book-open"></i> <span class="d-md-none">Components</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="javascript:;" data-toggle="tooltip" data-placement="right" data-template="<div class=&quot;tooltip d-none d-md-block&quot; role=&quot;tooltip&quot;><div class=&quot;arrow&quot;></div><div class=&quot;tooltip-inner&quot;></div></div>" title="" data-original-title="Changelog">
                  <i class="fe fe-plus-circle"></i> <span class="d-md-none">Changelog</span> <span class="badge badge-primary ml-auto d-md-none">v1.4.2</span>
                </a>
              </li>
            </ul>

            <!-- Push content down -->
            <div class="mt-auto"></div>


            <!-- Customize -->
            <div class="mb-4" data-toggle="tooltip" data-placement="right" data-template="<div class=&quot;tooltip d-none d-md-block&quot; role=&quot;tooltip&quot;><div class=&quot;arrow&quot;></div><div class=&quot;tooltip-inner&quot;></div></div>" title="" data-original-title="Customize">
              <a href="#modalDemo" class="btn btn-block btn-primary" data-toggle="modal">
                <i class="fe fe-sliders"></i> <span class="d-md-none ml-2">Customize</span>
              </a>
            </div>



            <!-- User (md) -->
            <div class="navbar-user d-none d-md-flex flex-column" id="sidebarSmallUser">

              <!-- Icon -->
              <a href="#sidebarModalSearch" class="navbar-user-link mb-3" data-toggle="modal">
                <span class="icon">
                  <i class="fe fe-search"></i>
                </span>
              </a>

              <!-- Icon -->
              <a href="#sidebarModalActivity" class="navbar-user-link mb-3" data-toggle="modal">
                <span class="icon">
                  <i class="fe fe-bell"></i>
                </span>
              </a>

              <!-- Dropup -->
              <%= render "layouts/partials/navbarUser" %>
            </div>
          </div> <!-- / .navbar-collapse -->

        </div>
      </nav>

      <div class="main-content ">
          <% if flash.any? %>
          <header id="aui-message-bar">
              <%= render "layouts/alerts" %>
          </header>
          <% end %>
          <div class="main-content">

              <%= yield %>
          </div>
      </div>
      <%= render "layouts/partials/footer" %>
  </body>
</html>
