<html class="" lang="<%= I18n.locale %>">
  <%= render "layouts/head" %>
  <body class="<%= @body_class %>">
    <div class="wrapper">
      <div class="layout layout-nav-side layout-sidebar">
        <% if nav %>
        <%= render "layouts/nav/#{nav}" %>
        <% end %>
        <div class="main-container" >
  <!-- style="background-image: url(/assets/img/illustrations/sticky.svg);" -->
          <div class="content-container bg-fixed-bottom"  >
            <header id="aui-message-bar">
                <%= render "layouts/alerts" %>
            </header>
            <div class="container-fluid">
              <%= yield %>
            </div>
          </div>
          <% if sidebar != "" %>
            <div class="ResizerInner-sc-1hg4s68-0 bcqjRO">
              <button class="ResizerButtonInner-sc-3k1heu-0 ifKiUI" aria-label="Expand or collapse the navigation [ (left bracket)" aria-expanded="true"></button>
            </div>
            <%= render "layouts/nav/sidebar/#{sidebar}" %>
          <% end %>
        </div>
      </div>
    </div>
    <% #header_message %>
    <% #render partial: "layouts/header/default", locals: { project: @project, group: @group } %>
    <% #render 'layouts/page', sidebar: sidebar, nav: nav %>
    <% #footer_message %>
    <% #render_if_exists "shared/onboarding_guide" %>

    <%= render "layouts/partials/footer" %>

  </body>
</html>
